@import url('https://fonts.googleapis.com/css?family=Anton|Bitter');

/* 
*{
    
#05396B
#389583
#5CDB94
#8DE4AF
#EDF5E0
 
<i class="fas fa-dog"></i>
<i class="fas fa-paw"></i>
<i class="fas fa-cat"></i>

font-family: 'Bitter', serif;
font-family: 'Anton', sans-serif;
}
*/


body{
    margin: 0;
    background:#5CDB94;
    background-image: url("images/texture.png");
    background-repeat: repeat;
    font-family: 'Bitter', serif;
    color: #444444;
}

p {
    margin: 0;
}

.main{
    margin: 0 15%;
}


/* MMMMMMMM Header MMMMMMMM */

header{
    padding: 20px 0;
    font-family: 'Bitter', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #05396B;
}

.nav-intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo{
    margin: 0 15px;
}

.intro{
    margin: 0;
    font-size: 2.5rem;
    
}

ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    padding:0;
}

li a{
    padding:0 10px;
    color: #05396B;
    font-size: 1.4rem;
    text-decoration: none;
}

li a:hover{
    color:white;
    text-decoration:overline;
}



/* MMMMMMMM Main MMMMMMMM */


.contact-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5%;
}


.contact-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5%;
}

.map-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5%;
}


















/* MMMMMMMM Word Style MMMMMMMM */

.action-p{
    font-size: 3rem;
}

.action-sub-p{
    font-size: 3rem;
}

a .fas, a .fab{
    padding: 25px;
    margin: 40px;
    color: white;
    background-color: #05396B;
    border-radius: 50%;
}

.fas, .fab{
    color:white;
    padding:0;
    margin: 0;
    text-shadow: 2px 2px 2px black;
}

.intro-p-main{
    color:white;
    font-size: 2.5rem;
}

.intro-p-main a{
    color:white;
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.intro-p-main a:hover{
    text-decoration: overline;
}

.intro-p{
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px black;
}

.sub-p{
    margin: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}

.sub-p a{
    color: #EDF5E0
}

span{
    font-size: 1.5rem;
    color:#05396B;
    
}





/* MMMMMMMM Footer MMMMMMMM */
.footer{
    background-color:#05396B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width:100%;
    position:static;
    font-family: 'Bitter', serif;
    color:white;
    font-size: 1.1em;
    padding-top:8px;
}

.footer p a{
    text-decoration: underline;
    color:white;
}

.footer p a:hover{
    text-decoration: overline;
    color:#8DE4AF;
}








@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}

@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .week{
        max-width: 100%;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    
}

@media screen and (max-width:640px) {
   .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    
}

@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    
}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    
}