
@import url('https://fonts.googleapis.com/css?family=Anton|Bitter');


/* 
*{
       color: #FA9EAA
        #FAC8BE
        #FAEEC8
        #7DC4CA
        #43888E
           
          #F2BBAD
#FBDCCE
#ECEAE5
#AFDFDB
#75C9CC
 

font-family: 'Bitter', serif;
font-family: 'Anton', sans-serif;
}
*/


body{
    margin: 0;
    background:#41B3A3;
    background-image: url("images/45-degree-fabric-dark.png");
    background-repeat: repeat;
    font-family: 'Bitter', serif;
    color: #444444;
}

p {
    margin: 0;
}

.main{
    margin: 0 15%;
}





/* MMMMMMMM Header MMMMMMMM */

header{
    padding: 20px 0;
    font-family: 'Bitter', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #444444;
}

.nav-intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo{
    margin: 0 15px;
}

.intro{
    margin: 0;
    font-size: 2.5rem;
    
}

ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    padding:0;
}

li a{
    padding:0 10px;
    color: #444444;
    font-size: 1.4rem;
    text-decoration: none;
}

li a:hover{
    color:white;
    text-decoration:overline;
}









/* MMMMMMMM Section Two MMMMMMMM */

.two{
    margin: 0;
    padding-top: 25px;
    background-color: white;
}

.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    
}

.main-dog{
    max-height: 500px;
    -ms-flex-preferred-size:50%;
    flex-basis: 50%;
}

.call-to-action{
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    color:#E27D60;
    border-top: 4px dotted #E27D60;
    border-bottom: 4px dotted #E27D60;
}

.action-p{
    padding-top: 30px;
    font-size: 3rem;
}

.action-sub-p{
    font-size: 3rem;
}

a .fas{
    padding-bottom: 30px;
    color: #85CDCA;
    padding-top: 25px;
}



/* MMMMMMMM Section Three MMMMMMMM */

.sec{
    color:white;
    padding-top: 25px;
}

.sec-three{
    
}



.sec-intro{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 15px 0;
}



.of-the-week{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.week{
    max-height: 400px;
    max-width: 600px;
    border: 5px solid white;
}

.list{
    padding:0 10px;
}





.fas{
    color:white;
    padding:0;
    margin: 0;
    padding-right: 15px;
    text-shadow: 2px 2px 2px black;
}

.intro-p{
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px black;
}

.sub-p{
    margin: 10px 0;
    font-size: 1.2rem;
}

span{
    font-size: 1.5rem;
    color:#E8A87C;
    text-shadow: 2px 2px 2px black;
}



/* 

<i class="fas fa-dog"></i>
<i class="fas fa-paw"></i>
<i class="fas fa-cat"></i>

*/





















@media screen and (min-width: 320px) and (max-width:580px) {
    #page {}
}

@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .week{
        max-width: 100%;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    .main, .sec-three{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .main-dog, .call-to-action, .of-the-week{
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 15px 0;
    }
    .action-p, .fas{
        border:none;
    }
}

@media screen and (max-width:640px) {
   .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    .main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .main-dog, .call-to-action{
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 15px 0;
    }
    .action-p, .fas{
        border:none;
    }
}

@media screen and (max-width:360px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    .main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .main-dog, .call-to-action{
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 15px 0;
    }
    .action-p, .fas{
        border:none;
    }
}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 100%;
    }
    .row, body, .main {
        width: 100%;
        padding:0;
        margin: 0;
    }
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    ul, .nav-intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        padding:0;
    }
    li{
        padding: 0 5px;
        
    }
    .logo{
        padding-top: 20px;
        max-height: 100%;
        max-width: 100%;
    }
    .main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .main-dog, .call-to-action{
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 15px 0;
    }
    .action-p, .fas{
        border:none;
    }
}